root = true

[*]
end_of_line = lf # Use Unix Style New Lines
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 100
ij_wrap_on_typing = true
